/* Container Items */

html,body {
    height: 100%;
    width: 100%;
}

#background {
    width: 100%;
    height: 100%;
    background: radial-gradient( circle, #0000002e 50%, black 150%), url("../images/cover.jpg") no-repeat fixed;
    background-size: cover;
    overflow: hidden;
    -webkit-background-size: cover;
}


/* Paragraph Styles */

.container {
    height: 96%;
    padding: 0 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.container .primary {
    width: 60%;
    direction: rtl;    
    white-space: nowrap;
    font-family: Oswald;
    font-size: 170px;
}

.primary span {
    position: relative;
}

.container .secondary {
    font-family: Lato;
    width: 30%;
    font-size: 26px;
    position: relative;
    line-height: 1.2;
}

.secondary div {
    opacity: 0;
    position: absolute;
}

.container > hr {  
    border: none;
    border-left: 3px solid white;
    height: 400px;
    margin: 0 35px;
}

.donate {
    font-family: Lato;
    font-size: 24px;
    text-align: center;
    position: relative;
}

.donate a {
    color: white;
    text-decoration: none;
    text-shadow: 0 2px 3px #000000ec;
}

.donate a:hover {
    color: white;
    text-decoration: none;
    text-shadow: 0 0 4px #ffffffd8;
}

/* Animations */

@keyframes down_cycle {
    0% { 
        bottom: 600px;
        opacity: 0;
    }
    5%, 33% {
        bottom: 0px;
        opacity: 1;
    }
    38%, 66%{
        bottom: -600px;
        opacity: 0;
    }
    71%, 100% {
        bottom: 600px;
        opacity: 0;
    }
}

@keyframes mdown_cycle {
    0% { 
        bottom: 600px;
        opacity: 0;
    }
    5%, 66%{
        bottom: 0px;
        opacity: 1;
    }
    72%, 100% {
        bottom: -600px;
        opacity: 0;
    }
}

@keyframes fade_cycle {
    0%, 2% { 
        opacity: 0;
    }
    14%, 30% {
        opacity: 1;
    }
    36%, 100%{
        opacity: 0;
    }
}

@keyframes down_stay {
    0% { 
        bottom: 600px;
        opacity: 0;
    }
    5%, 100% {
        bottom: 0px;
        opacity: 1;
    }
}

@keyframes up_stay {
    0% { 
        bottom: -60px;
        opacity: 0;
    }
    5%, 100% {
        bottom: 25px;
        opacity: 1;
    }
}

#one {
    animation: down_cycle 21s infinite forwards;
    animation-delay: 1s;
}
#eight {
    animation: down_cycle 21s infinite forwards;
    animation-delay: 8s;
}
#two {
    animation: down_cycle 21s infinite forwards;
    animation-delay: 15s;
}
#clean {
    animation: fade_cycle 21s infinite forwards;
    animation-delay: 1s;
}
#contaminated {
    animation: fade_cycle 21s infinite forwards;
    animation-delay: 8s;
}
#sanitation {
    animation: fade_cycle 21s infinite forwards;
    animation-delay: 15s;
}
#M {
    animation: mdown_cycle 21s infinite forwards;
    animation-delay: 1s;
}
#B {
    animation: down_cycle 21s infinite forwards;
    animation-delay: 15s;
}
#ILLION {
    animation: down_stay 21s forwards;
    animation-delay: 1s;
}
.donate {
    animation: up_stay 8s 20s cubic-bezier(0.04, 0.4, 0.09, 1.01) forwards;
}


/* Static Positioning */

#clean {
    bottom: -50px;
}

#contaminated, #sanitation {
    bottom: -40px;
}
.donate {
    bottom: -60px;
    opacity: 0;
}
#ILLION {
    left: 640px;
    bottom: 600px;
}
#B {
    bottom: 600px;
    left: 680px;
}
#M {
    bottom: 600px;
    left: 810px;
}
#one {
    bottom: 600px;
    right: 540px;
}
#two {
    bottom: 600px;
    right: 150px;
}
#eight {
    bottom: 600px;
    right: 440px;
}